:root{
    --primary-color : rgba(255, 79, 90, 1);
    --secondary-color: #fff;
    --form-bg-color: rgba(255,255,255, .05)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
/* Container START */
.container{ 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Main Content START */
.main-container{
    width: 100%;
    height: 100%;
    background: url(./assets/img/yoal-desurmont-SWl-fQSFJjg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
} 
/* Form Section START */
.form-bg-container {
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.form-container{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.form-section{
  
    width: 42rem;   
    height: 52rem;
    border-radius: 4px;
    background-color: var(--form-bg-color);
    box-shadow: 0 -5px 3px -3px rgba(0,0,0,.2), 0 5px 3px -3px rgba(0,0,0,.2);
}
/* Button-container START */
.form-section .button-container{
    display: flex;
    justify-content: space-between;
    width: 24rem;
    margin: 4rem auto 5rem;
    position: relative;
}
.form-section .button-container .btn {
    max-width: 12rem;
    min-width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: transparent;
    padding: 1.4rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
    border-radius: 2px;
    color: var(--secondary-color);
    cursor: pointer;
    z-index: 100;
    white-space: nowrap;
}
.form-section .button-container #btn-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 12rem;
    max-width: 12rem;
    background-color: var(--primary-color);
    border-radius: 2px;
    
}
.form-section .button-container #btn-div2 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 12rem;
    background-color: var(--primary-color);
    border-radius: 2px;
}
/* Button-container END */
/* Input-container START */
.form-section .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-section  input[type=password],
.form-section  input[type=email],
.form-section  input[type=text]{
    padding: 1.5rem 3rem;
    margin-bottom: 7px;
    width: 90%;
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 1);
    border-radius: 2px;
}
/* Input-container END */
/* Checkbox-container START */
.form-section  .checkbox-container {
    display: flex;
    margin: .1rem 22px 2rem;
    font-size: 1rem;
    color: var(--secondary-color);
    
}
.form-section  .checkbox-container input {
    margin-right: 7px;
    width: 1.6rem;
}
.form-section  .checkbox-container label {
    cursor: pointer;
    font-size: 1.3rem;
}
/* Checkbox-container END */
/* Login-btn-container START */
.form-section .login-btn-container {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}
.form-section .login-btn-container .login-btn {
  
    padding: 1.5rem 3rem;
    width: 90%;
    background-color: #007DC0;
    border: none;
    outline: none;
    color: var(--secondary-color);
    cursor: pointer;
    border-radius: 2px;
    font-size: 1.6rem;
}
/* Login-btn-container END */
/* Forget-password START and Cookie START */
.form-section .forget-password,
.form-section .cookie {
    display: flex;
    justify-content: flex-start;
    margin: .8rem 2.1rem;
}
.form-section .forget-password a,
.form-section .cookie p {
    color: var(--secondary-color);
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.2rem 
}
/* Forget-password START and Cookie END */
/* Or-login START */
.form-section .or-login {
    margin: 3rem 2.1rem;
    color: #fff;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}
.form-section .or-login lottie-player {
    cursor: pointer;
    margin-left: 2rem;
}
#sign-up{
    display: none;
}
/* Or-login END */
/* Form Section END */

/* Main Content END */
 /* Container END */ 
/* Media */
@media screen and (max-width: 500px) {
    html {
        font-size: 9px;
    }
}
@media screen and (max-width: 389px) {
    html {
        font-size: 8px;
    }
}








